.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar-interactive {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link {
  color: #d8a854;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.home-link01 {
  color: #d8a854;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: 32px;
  text-decoration: none;
}
.home-link02 {
  color: #d8a854;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: 32px;
  text-decoration: none;
}
.home-link03 {
  color: #d8a854;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: 32px;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: 16px;
  height: 16px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: 16px;
  height: 16px;
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-link04 {
  color: #d8a854;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link05 {
  color: #d8a854;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  color: #d8a854;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link07 {
  color: #d8a854;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-close-menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-navbar {
  width: 100%;
  display: none;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.home-middle-nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link08 {
  color: rgb(191, 129, 129);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link09 {
  color: rgb(191, 129, 129);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link10 {
  color: rgb(191, 129, 129);
  text-decoration: none;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-save-the-date {
  width: 80%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.home-image {
  flex: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;
  border-color: #d8a854;
  border-width: 5px;
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-details {
  width: 80%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-tenunits);
  border-color: #d8a854;
  border-style: solid;
  border-width: 5px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.home-container01 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text06 {
  color: rgb(145, 130, 184);
  font-size: 30px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  font-family: Alex Brush;
  font-weight: 600;
  padding-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
}
.home-text09 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-text14 {
  color: rgb(145, 130, 184);
  font-size: 25px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  font-family: Petit Formal Script;
  font-weight: 400;
  padding-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
}
.home-text15 {
  font-family: Petit Formal Script;
}
.home-text16 {
  font-family: Petit Formal Script;
}
.home-text17 {
  font-family: Petit Formal Script;
}
.home-text18 {
  font-family: Petit Formal Script;
}
.home-text19 {
  font-family: Petit Formal Script;
}
.home-text20 {
  font-family: Arimo;
}
.home-text21 {
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-text22 {
  font-style: italic;
  font-family: Raleway;
}
.home-text25 {
  color: #9182b8;
  font-style: inherit;
  font-family: Petit Formal Script;
}
.home-text28 {
  font-style: italic;
}
.home-text31 {
  color: #9182b8;
  font-size: 30px;
  font-style: normal;
  font-family: Petit Formal Script;
  line-height: 2;
}
.home-text32 {
  color: #e4b146;
  font-size: 30px;
  font-style: normal;
  font-family: Pinyon Script;
  line-height: 2;
  letter-spacing: 5px;
}
.home-text34 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  font-style: italic;
  font-family: Raleway;
  line-height: 4;
}
.home-text36 {
  color: #9182b8;
  font-size: 30px;
  font-style: normal;
  font-family: Petit Formal Script;
  line-height: 2;
}
.home-text37 {
  color: #e4b146;
  font-size: 30px;
  font-style: normal;
  font-family: Pinyon Script;
  line-height: 2;
  letter-spacing: 5px;
}
.home-container02 {
  width: 100%;
  height: 193px;
  display: none;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container03 {
  flex: 0 0 auto;
  width: 30%;
  height: 112px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-end;
}
.home-link11 {
  display: contents;
}
.home-image1 {
  width: auto;
  height: 100%;
  box-shadow: -5px -5px 10px 5px #3e7884;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius24);
  text-decoration: none;
}
.home-image1:hover {
  box-shadow: 5px 5px 10px 5px #3e7884;
}
.home-container04 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: 0px;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.home-container05 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
}
.home-text40 {
  align-self: center;
  text-align: center;
}
.home-text41 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image2 {
  flex: 0;
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-container07 {
  flex: 0 0 auto;
  width: 30%;
  height: 112px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
}
.home-link12 {
  display: contents;
}
.home-image3 {
  width: auto;
  height: 100%;
  box-shadow: -5px -5px 10px 5px #28693a;
  object-fit: cover;
  transition: 0.3s;
  margin-left: var(--dl-space-space-tripleunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
  text-decoration: none;
}
.home-image3:hover {
  box-shadow: 5px 5px 10px 5px #28693a;
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-venue {
  width: 80%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-tenunits);
  border-color: #d8a854;
  border-style: solid;
  border-width: 5px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.home-container08 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container09 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #d8a854;
  border-style: solid;
  border-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container10 {
  flex: 0 0 auto;
  width: 30%;
  height: 112px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-end;
}
.home-link13 {
  display: contents;
}
.home-image4 {
  width: auto;
  height: 100%;
  box-shadow: -5px -5px 10px 5px #3e7884;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius24);
  text-decoration: none;
}
.home-image4:hover {
  box-shadow: 5px 5px 10px 5px #3e7884;
}
.home-container11 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: 0px;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.home-container12 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
}
.home-text44 {
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.home-text45 {
  color: #9182b8;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.home-text48 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
}
.home-image5 {
  flex: 0;
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-container14 {
  flex: 0 0 auto;
  width: 30%;
  height: 112px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
}
.home-link14 {
  display: contents;
}
.home-image6 {
  width: auto;
  height: 100%;
  box-shadow: -5px -5px 10px 5px #28693a;
  object-fit: cover;
  transition: 0.3s;
  margin-left: var(--dl-space-space-tripleunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
  text-decoration: none;
}
.home-image6:hover {
  box-shadow: 5px 5px 10px 5px #28693a;
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-color: #d8a854;
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-text56 {
  color: rgb(216, 168, 84);
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-text57 {
  color: #9182b8;
}
.home-text59 {
  color: rgb(216, 168, 84);
  font-size: 30px;
  align-self: center;
  font-style: normal;
  font-weight: 800;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-text60 {
  color: #9182b8;
}
.home-text62 {
  align-self: center;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-color: #d8a854;
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-text65 {
  color: #9182b8;
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-text68 {
  align-self: center;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-color: #d8a854;
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-text69 {
  color: rgb(145, 130, 184);
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-text72 {
  align-self: center;
  font-style: normal;
  text-align: right;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-rsvp {
  width: 80%;
  display: flex;
  max-width: auto;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #d8a854;
  border-style: solid;
  border-width: 5px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-form {
  width: 100%;
  height: auto;
  display: flex;
}
.home-content-container {
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-form-container {
  width: 60%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: stretch;
  align-items: center;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #9182b8;
}
.home-heading {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-name {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-contact-number {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-message {
  width: 100%;
  border: none;
  height: 140px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-select {
  width: 100%;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-services {
  width: 100%;
  display: none;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text81 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text82 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-cards-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-service-card {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text83 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text84 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-service-card1 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text85 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text86 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-service-card2 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text87 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text88 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon08 {
  width: 24px;
  height: 24px;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-link18 {
  color: #d8a854;
}
@media(max-width: 479px) {
  .home-container {
    border-color: #ede5ff;
    border-style: hidden;
  }
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-icon {
    width: 20px;
    height: 16px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-mobile-menu {
    height: auto;
    padding: 16px;
  }
  .home-link04 {
    color: #d8a854;
  }
  .home-link05 {
    color: #d8a854;
  }
  .home-link06 {
    color: #d8a854;
  }
  .home-link07 {
    color: #d8a854;
  }
  .home-navbar {
    display: none;
  }
  .home-save-the-date {
    width: 90%;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-image {
    height: auto;
  }
  .home-details {
    width: 90%;
    height: auto;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-container01 {
    height: auto;
  }
  .home-text06 {
    color: rgb(145, 130, 184);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
  .home-text07 {
    font-size: 20px;
  }
  .home-text09 {
    color: var(--dl-color-gray-black);
    font-size: 14px;
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .home-text10 {
    font-size: 14px;
  }
  .home-text11 {
    font-size: 14px;
  }
  .home-text12 {
    font-size: 14px;
    font-family: Raleway;
    font-weight: 600;
  }
  .home-text14 {
    color: #9182B8;
    font-size: 25px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-text15 {
    font-size: 20px;
    font-family: Petit Formal Script;
  }
  .home-text16 {
    font-size: 20px;
    font-family: Petit Formal Script;
  }
  .home-text17 {
    font-size: 20px;
    font-family: Petit Formal Script;
  }
  .home-text18 {
    font-size: 20px;
    font-family: Petit Formal Script;
  }
  .home-text19 {
    font-size: 20px;
    font-family: Petit Formal Script;
  }
  .home-text20 {
    font-family: Arimo;
  }
  .home-text21 {
    font-weight: 400;
  }
  .home-text22 {
    font-style: italic;
    font-family: Raleway;
  }
  .home-text25 {
    color: #9182b8;
    font-style: inherit;
    font-family: Petit Formal Script;
  }
  .home-text28 {
    font-style: italic;
  }
  .home-text31 {
    color: #9182b8;
    font-size: 30px;
    font-style: normal;
    font-family: Petit Formal Script;
    line-height: 2;
  }
  .home-text32 {
    color: #e4b146;
    font-size: 30px;
    font-style: normal;
    font-family: Pinyon Script;
    line-height: 2;
    letter-spacing: 5px;
  }
  .home-text34 {
    color: var(--dl-color-gray-black);
    font-size: 18px;
    font-style: italic;
    font-family: Raleway;
    line-height: 4;
  }
  .home-text36 {
    color: #9182b8;
    font-size: 30px;
    font-style: normal;
    font-family: Petit Formal Script;
    line-height: 2;
  }
  .home-text37 {
    color: #e4b146;
    font-size: 30px;
    font-style: normal;
    font-family: Pinyon Script;
    line-height: 2;
    letter-spacing: 5px;
  }
  .home-container02 {
    height: auto;
    align-self: center;
    padding-top: 1px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-container03 {
    height: 112px;
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
    justify-content: flex-end;
  }
  .home-image1 {
    height: 50%;
  }
  .home-container04 {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .home-text40 {
    top: -67px;
    left: -7px;
    height: auto;
    margin: 0px;
    position: static;
    padding-bottom: 0px;
  }
  .home-container06 {
    justify-content: center;
  }
  .home-image2 {
    width: 50%;
    height: 70%;
  }
  .home-container07 {
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .home-image3 {
    height: 50%;
  }
  .home-venue {
    width: 90%;
    height: auto;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-container08 {
    height: auto;
  }
  .home-container09 {
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-doubleunit);
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-container10 {
    height: 112px;
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
    justify-content: flex-end;
  }
  .home-image4 {
    height: 50%;
    z-index: 100;
    box-shadow: -3px -3px 10px 1px #3e7884;
  }
  .home-container11 {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .home-text44 {
    top: -67px;
    left: -7px;
    height: auto;
    position: static;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-text45 {
    color: #9182b8;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text46 {
    color: #9182b8;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text47 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text48 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text50 {
    font-style: italic;
    font-weight: 300;
  }
  .home-text51 {
    font-style: italic;
    font-weight: 300;
  }
  .home-text52 {
    font-style: italic;
    font-weight: 300;
  }
  .home-text53 {
    font-style: italic;
    font-weight: 300;
  }
  .home-text54 {
    font-style: italic;
    font-weight: 300;
  }
  .home-text55 {
    font-style: italic;
    font-weight: 300;
  }
  .home-container13 {
    justify-content: center;
  }
  .home-image5 {
    width: 50%;
    height: 70%;
  }
  .home-container14 {
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .home-image6 {
    height: 50%;
    box-shadow: -3px -3px 10px 1px #28693a;
  }
  .home-rsvp {
    width: 90%;
  }
  .home-content-container {
    padding-left: 0px;
  }
  .home-form-container {
    width: 95%;
    padding: var(--dl-space-space-tripleunit);
    margin-right: 0px;
  }
  .home-heading {
    text-align: center;
  }
  .home-services {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-service-card {
    width: 100%;
  }
  .home-service-card1 {
    width: 100%;
  }
  .home-service-card2 {
    width: 100%;
  }
  .home-footer {
    align-self: flex-end;
  }
  .home-copyright-container {
    position: relative;
    justify-content: flex-end;
  }
  .home-link18 {
    color: rgb(216, 168, 84);
    align-self: center;
  }
  .home-text89 {
    font-size: 10px;
    font-style: normal;
    font-family: Raleway;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
  }
}
